<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.medium.url %>
        <% else %>
          <%= gravatar_for @user %>
        <% end %>
        <%= @user.name %>
        <br />
        <%= link_to 'Following Users', following_path %>
        <br />
        <%= link_to 'Follower Users', follower_path %>
        <br />
        <span><%= link_to "お気に入り一覧", favorites_user_path %></span>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>