<% if @feed_items.any? %>
  <ol class="microposts">
    <% @feed_items.each do |feed_item| %>
      <li id="micropost-<%= feed_item.id %>">
        <% if feed_item.user.avatar? %>
          <%= link_to image_tag(feed_item.user.avatar.small.url, { size: 50 }), feed_item.user %>
        <% else %>
          <%= link_to gravatar_for(feed_item.user, size: 50), feed_item.user %>
        <% end %>
        <span class="user"><%= link_to feed_item.user.name, feed_item.user %></span>
        <span class="content"><%= feed_item.content %></span>
        <span class="timestamp">Posted <%= feed_item.created_at %></span>
        <%= link_to 'delete', feed_item, method: :delete, :confirm => 'You sure?' %>
        <%= render 'users/favo_form', feed_item: feed_item %>
      </li>
    <% end %>
  </ol>
<% end %>